*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: black;
    
}
#ctn{
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 40px auto;
    
}
.earth-ring{
    height: 550px;
    width: 550px;
    border-radius: 50%;
    border: solid 2px aqua;
    display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     animation: animate-earth 36s linear infinite;
     animation-delay: 1s;

    
}
.earth{
    width: 60px;
    height: 60px;
    border-radius: 50% ;
    background-color: blue;
    position: absolute;


}
.moon{
    width: 25px;
    height: 25px;
    border-radius: 50% ;
    background-color: white;
    position: absolute;
    top: -10px;
    right: 70px;
}
.sun{
    width: 100px;
    height: 100px;
    border-radius: 50% ;
    background-color: yellow;
    position: absolute;
}
.moon-ring{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 4px solid transparent;
    position: absolute;
    top: 100px;
    left: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animate 3.4s linear infinite;
     animation-delay: 2s;
}
.moon-ring::before{
    content: "";
      width: 40px;
    height: 40px;  
        border-radius: 50% ;
    background-color: yellow;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes animate-earth {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

